# compilação e dependências do Maven
target/
.mvn/

# arquivo de Banco de Dados local
makrobank.db

# configurações locais do netbeans e outras IDEs
nbproject/private/
nb-configuration.xml
nbactions.xml
build/
.idea/
.vscode/
*.iml
